[submodule "firmware/libopencm3"]
	path = firmware/libopencm3
	url = https://github.com/libopencm3/libopencm3.git
[submodule "firmware/mapping_gen/libs/cjson"]
	path = firmware/mapping_gen/libs/cjson
	url = https://github.com/DaveGamble/cJSON.git
[submodule "firmware/mapping_gen/libs/microui"]
	path = firmware/mapping_gen/libs/microui
	url = https://github.com/rxi/microui.git
