*#*

*-backups/
*.kicad_pcb~
*.kicad_pcb_tmp
*.kicad_pcb-journal.txt

*.kicad_sch~
*.kicad_sch_tmp

*.sch~
*.sch-journal.txt
*.lib-bak
*.dcm-bak

*.lck
*.bak
*-bak
*.tmp
*.log

*.kicad_prl
fp-info-cache

*.cache
*.dcm
*.mod
*.3dshapes
*.pro.user
*.kicad_sch-bak

bin/
build/
.clangd
.mxproject
